<!-- MODAL HEADER -->
<div class="modal-header">
    <h4 class="modal-title text-danger">Terms & Conditions</h4>

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- MODAL BODY -->
<div class="modal-body text-center">
    <h5 class="text-danger">Please Read This Statement Carefully</h5>
    <p class="font-weight-bold">
        1. By doing 'Registration' or 'Signup' you will become a 'Service Provider' or 'Admin'. <br>
        2. 'Service Provider' or 'Admin' can login with their credentials (Email Id & Password). <br>
        3. After login 'Service Provider' or 'Admin' can change their profile information from 'Admin' Section. <br>
        4. After login 'Service Provider' or 'Admin' can change their profile password from 'Admin' Section. <br>
        5. After 'Registration' or 'Signup' your service & contact informations will be visible to other users. <br>
    </p>
</div>


<!-- MODAL FOOTER -->
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('Close click')">Accept</button>
</div>