<div class="text-center text-primary my-5">
    <h5>Covid-19 Helpline</h5>
    <h1>Community Kitchen</h1>
</div>

<!-- Cards/Main Content Starts From Here -->
<div class="row row-cols-1 row-cols-md-3">

    <div class="col mb-4">
        <div class="card h-100">

            <div class="card-body border text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Rem dolorem ea in fuga! Minus libero nostrum, nobis amet sunt quidem quas fugiat,
                suscipit, dicta ut veniam obcaecati tempore asperiores voluptates?
            </div>

        </div>
    </div>

    <div class="col mb-4">
        <div class="card h-100">

            <div class="card-body border text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Rem dolorem ea in fuga! Minus libero nostrum, nobis amet sunt quidem quas fugiat,
                suscipit, dicta ut veniam obcaecati tempore asperiores voluptates?
            </div>

        </div>
    </div>

    <div class="col mb-4">
        <div class="card h-100">

            <div class="card-body border text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Rem dolorem ea in fuga! Minus libero nostrum, nobis amet sunt quidem quas fugiat,
                suscipit, dicta ut veniam obcaecati tempore asperiores voluptates?
            </div>

        </div>
    </div>


</div>
<!-- Cards/Main Content Ends Here -->


<!-- If No Oxygen Service Found -->
<!-- <div class="jumbotron text-center text-danger my-5">
    <h2>Sorry! No Data Found</h2>
</div> -->
<!-- If No Oxygen Service Found Ends here-->