<div>
    <div class="row row-cols-1 row-cols-md-4 text-center">
        <div class="col mb-3 ">
            <h5>Total Confirmed Case</h5>
            <hr>
            <p>{{covidData.confirmed}}</p>

        </div>

        <div class="col mb-3 ">
            <h5>Total Deaths</h5>
            <hr>
            <p>{{covidData.deaths}}</p>

        </div>

        <div class="col mb-3 ">
            <h5>Total Recovered</h5>
            <hr>
            <p>{{covidData.recovered}}</p>

        </div>
        <div class="col mb-3 ">
            <h5>Total Active Case</h5>
            <hr>
            <p>{{covidData.active}}</p>

        </div>
    </div>

    <div class="text-center font-weight-bold">
        *Last Updated : {{covidData.date | date}}
    </div>
    <hr>

</div>