<div class="row pt-5">
    <div class="col-md-9 mx-auto">
        <div class="card rounded-0">

            <div class="card-header text-primary">
                <h1 class="mb-0">Register your service!</h1>
            </div>

            <div class="card-body">

                <form class="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label><span class="text font-weight-bold text-danger">* &nbsp;</span>Your name</label>
                            <input type="text" class="form-control" formControlName="name">
                            <small class="text-danger"
                                *ngIf="signupForm.get('name').invalid && signupForm.get('name').touched">Please enter
                                your
                                name</small>
                        </div>

                        <div class="form-group col-md-6">
                            <label><span class="text font-weight-bold text-danger">* &nbsp;</span>Service name</label>
                            <input type="text" class="form-control" formControlName="resourceName"
                                placeholder="Ex: ABC Medical Store..">
                            <small class="text-danger"
                                *ngIf="signupForm.get('resourceName').invalid && signupForm.get('resourceName').touched">Please
                                enter your service
                                name</small>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label><span class="text font-weight-bold text-danger">* &nbsp;</span>Category</label>
                            <select class="form-control custom-select" formControlName="category">
                                <option selected disabled>Select Category</option>
                                <option value="{{serviceCategory[0]}}">Medical Oxygen</option>
                                <option value="{{serviceCategory[1]}}">Covid-19 Hospital</option>
                                <option value="{{serviceCategory[2]}}">Covid-19 Medicine (Remdesivir and Actemra)
                                </option>
                                <option value="{{serviceCategory[3]}}">Covid-19 Test Laboratory</option>
                                <option value="{{serviceCategory[4]}}">Community Kitchen</option>
                                <option value="{{serviceCategory[5]}}">Ambulance Service</option>
                            </select>
                            <small class="text-danger"
                                *ngIf="signupForm.get('category').invalid && signupForm.get('category').touched">Please
                                select a service category</small>
                        </div>

                        <div class="form-group col-md-6">
                            <label><span class="text font-weight-bold text-danger">* &nbsp;</span>Availibility</label>
                            <select class="form-control custom-select" formControlName="availibility">
                                <option selected disabled>Select Availibility Status</option>
                                <option [ngValue]='true'>Available</option>
                                <option [ngValue]='false'>Unavailable</option>
                            </select>
                            <small class="text-danger"
                                *ngIf="signupForm.get('availibility').invalid && signupForm.get('availibility').touched">Please
                                select availibility status</small>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label><span class="text font-weight-bold text-danger">* &nbsp;</span>Email address</label>
                            <input type="email" style="text-transform:lowercase" class="form-control"
                                formControlName="email">
                            <small class="text-danger"
                                *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched">Please enter
                                a
                                valid email address</small>
                        </div>

                        <div class="form-group col-md-4">
                            <label><span class="text font-weight-bold text-danger">* &nbsp;</span>Password</label>
                            <input type="password" class="form-control" formControlName="password">
                            <small class="text-danger"
                                *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched">Please
                                enter
                                a password (password must be at least 6 characters long)</small>
                        </div>

                        <div class="form-group col-md-4">
                            <label><span class="text font-weight-bold text-danger">* &nbsp;</span>Contact Number</label>
                            <input type="number" min="0" step="false" class="form-control" formControlName="contact_number">
                            <small class="text-danger"
                                *ngIf="signupForm.get('contact_number').invalid && signupForm.get('contact_number').touched">Please
                                enter a valid contact number</small>
                        </div>

                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label><span class="text font-weight-bold text-danger">* &nbsp;</span>Address</label>
                            <input type="text" class="form-control" formControlName="address">
                            <small class="text-danger"
                                *ngIf="signupForm.get('address').invalid && signupForm.get('address').touched">Please
                                enter
                                an address</small>
                        </div>

                        <div class="form-group col-md-4">
                            <label><span class="text font-weight-bold text-danger">* &nbsp;</span>City</label>
                            <input type="text" class="form-control" formControlName="city">
                            <small class="text-danger"
                                *ngIf="signupForm.get('city').invalid && signupForm.get('city').touched">Please enter a
                                city
                                name</small>
                        </div>

                        <div class="form-group col-md-4">
                            <label><span class="text font-weight-bold text-danger">* &nbsp;</span>Pincode</label>
                            <input type="number" min="0" step="false" class="form-control" formControlName="pincode">
                            <small class="text-danger"
                                *ngIf="signupForm.get('pincode').invalid && signupForm.get('pincode').touched">Please
                                enter
                                a pincode</small>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Remarks</label>
                            <textarea type="text" class="form-control" formControlName="remarks" cols="3"
                                rows="3"></textarea>
                        </div>
                    </div>


                    <p class="text float-left"><span class="text font-weight-bold text-danger">* &nbsp;</span> Mandatory
                        Fields</p>
                    <button type="submit" class="btn btn-outline-primary float-right mx-1"
                        [disabled]="signupForm.invalid">Submit</button>

                    <button class="btn btn-outline-danger float-right mx-1" (click)="cancel()">Cancel</button>

                </form>

            </div>

        </div>
    </div>
</div>